@model IEnumerable<CadastroPessoasDAL.Models.Pessoas>
@{
    ViewBag.Title = "Pessoas";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Pessoas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                @Html.ActionLink("Inserir", "Create", "Pessoas", null, new { @class = "btn btn-sm btn-outline-secondary" })
            </div>
        </div>
    </div>

    

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>Endereço</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                        @Html.DisplayFor(modelItem => item.Cnpj)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PessoasEndereco.Rua), @Html.DisplayFor(modelItem => item.PessoasEndereco.Numero)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <p style="margin-bottom: 20px;">
        
    </p>

</main>

